@if(comprobanteAnchoPantalla === true){
    <app-header-sm [temaSeleccionado]="temaSeleccionado"></app-header-sm>
}@else {
    <app-header [comeFromReg]="comeFromReg" [temaSeleccionado]="temaSeleccionado"></app-header>
}

<div class="homeMainDiv"
[class.bgClaro]="temaSeleccionado == 0 || temaSeleccionado == 1 || temaSeleccionado == 2"
[class.bgOscuro]="temaSeleccionado == 3 || temaSeleccionado == 4"
>
    <!-- Barra de busqueda -->
    <app-barra-busqueda></app-barra-busqueda>

    <div class="banner">
        <p 
        [class.menor1025px]="comprobanteAnchoPantalla"
        [class.menor600px]="menor600px"
        >
            PortalGP
        </p>
    </div>

    <div class="listaUltimosResultados">
        <div class="elementoUltimosResultados">
            <div class="textoUltimosResultados">
                <h2>Tiempos de Fernando Alonso</h2>
                <h3>Libres 2 de Australia</h3>
                <p>+Fernando Alonso no pertenece al podio de los Libres 2 de Australia por poco. Su vuelta más rápida ha sido de 1:17:912 quedando en una posición de 5. Tan solo a 2 posiciones de entrar en el podio y con una diferencia de 0:00:635 con el primero. Además Fernando mejora su tiempo en comparación al Libre anterior con una diferencia de 0:01:804.</p>
            </div>
            <img src="../../../assets/images/Libres2AlonsoAustralia.png" alt="Informacion 1">
        </div>
        <div class="elementoUltimosResultados">
            <div class="textoUltimosResultados">
                <h2>Resultados Libres 2</h2>
                <h3>GP de Australia</h3>
                <p>+Los resultados de los Libres 2 GP de Australia ya están disponibles. Los pilotos que componen el podio son Charles Leclerc, Max Verstappen y Carlos Sainz, seguidos desde la posición 4 a la 10 respectivamente los pilotos son: Lance Stroll, Fernando Alonso, George Russell, Oscar Piastri, Sergio Pérez, Lando Norris y Yuki Tsunoda.</p>
            </div>
            <img src="../../../assets/images/Libres2Australia.png" alt="Informacion 2">
        </div>
        <div class="elementoUltimosResultados">
            <div class="textoUltimosResultados">
                <h2>Tiempos de Fernando Alonso</h2>
                <h3>Libres 1 de Australia</h3>
                <p>+Desgraciadamente Fernando Alonso ha quedado por debajo de la 15 posición de los Libres 1 de Australia. Su vuelta más rápida ha sido de 1:19:716 quedando en una posición de 18. Una lástima esa posición para Fernando, Aston Martin y sus Aficionados.</p>
            </div>
            <img src="../../../assets/images/Libres1AlonsoAustralia.png" alt="Informacion 3">
        </div>
        <div class="elementoUltimosResultados">
            <div class="textoUltimosResultados">
                <h2>Resultados Libres 1</h2>
                <h3>GP de Australia</h3>
                <p>+Los resultados de los Libres 1 del GP de Australia ya están disponibles. Los pilotos que componen el podio son Lando Norris, Max Verstappen y George Russel, seguidos desde la posición 4 a la 10 respectivamente los pilotos son: Charles Leclerc, Yuki Tsunoda, Sergio Pérez, Lance Stroll, Carlos Sainz, Lewis Hamilton y Oscar Piastri</p>
            </div>
            <img src="../../../assets/images/Libres1Australia.png" alt="Informacion 4">
        </div>
    </div>
</div>